 *{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
 } 
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
}
 .form-area{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
} 
.socials{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.socials p{
    font-weight: 500;
    font-size: 1.2rem;
}
.socials .icons {
    font-size: 2rem;
}
.form-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid green ;
    border-radius: 10px;
    padding: 20px;
    background: #f3f3f3;
    align-items: center;
}
.form-container h1{
    color: rgba(0, 126, 0, 0.903);
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-row{
    display: flex;
    gap: 15px;
    align-items: center;
}
.form-row div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}
input, select {
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
}
input[type='date'] {
    width: 89%;
    margin-right: 3.4rem;
}
.icon-input{
    position: relative;
}
.icon-input iconify-icon{
    position: absolute;
    right: 7%;
    top: 30%;
    color: green;
    font-size: 1.3rem;
}
.form-row span{
    border: 1px solid green;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    gap: 15px;
    width: 170px;
    align-items: center;
    justify-content: center;
}
select{
    /* padding-right: 50px; */
     width: 183px; 
}
.form-row.btn{
    display: flex;
    align-self: center;
    margin-top: 20px;
}
.btn button{
    padding: 10px;
    color: green;
    border: 1px solid green;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 300;
}
.form-text {
    display: flex;
    gap: 40px;
    align-items: center;
}  */
.each{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.third{
    display: flex;
    gap: 5px;
    align-items: center;
    text-align: center;
}
.third span{
    border: 1px solid green;
    height: 15px;
    width: 15px;
    border-radius: 100px;
}
